<!DOCTYPE html>

<html lang="en">
  <head>
    <script></script>
  </head>
  <body>
    <h1
      style="
        font-family: 'Times New Roman', Times, serif;
        color: #008ab0;
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: azure;
      "
    >
      CONTACT MANAGEMENT SYSTEM
    </h1>
    {%block content%} {%endblock%}
    <div
      style="
        font-family: Georgia, serif;
        color: black;
        font-size: 15pt;
        font-weight: bold;
        margin-top: 7%;
        text-align: center;
      "
    >
      © Created By Gunjan Sureka
    </div>
  </body>
</html>
